PORT=3000
PUBLIC_BASE_URL=http://109.71.245.162
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_SUPERUSER_EMAIL=admin@bobux.local
POCKETBASE_SUPERUSER_PASSWORD=change-me
POCKETBASE_DATA_DIR=/opt/pocketbase/pb_data
POCKETBASE_BIN=/opt/pocketbase/pocketbase
STORAGE_DIR=/var/www/bobux/storage
BOBUX_SERVER_HEARTBEAT_TOKEN=change-me
